<div class="card">

    <div class="flex justify-between items-center">
        <h1>Editar excel</h1>

        <p-fileupload mode="basic"
                    name="excelFile"
                    chooseIcon="pi pi-upload"
                    url="https://www.primefaces.org/cdn/api/upload.php" 
                    accept=".xls,.xlsx" 
                    (onUpload)="onUpload($event)" 
                    [auto]="true" 
                    chooseLabel="Escolher arquivo" />
    </div>

    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" /> <!-- (onClick)="openNew()" -->
        </ng-template>

        <ng-template #end>
            <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportExcel()" /> <!-- (onClick)="exportCSV()" -->
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="entities"
        [rows]="60"
        [columns]="cols"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Gerenciamento da Tesouraria</h5>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="date" style="min-width:16rem">
                    Data
                    <p-sortIcon field="date" />
                </th>
                <th pSortableColumn="description" style="min-width: 8rem">
                    Descrição
                    <p-sortIcon field="description" />
                </th>
                <th pSortableColumn="action" style="min-width:10rem">
                    Ação
                    <p-sortIcon field="action" />
                </th>
                <th pSortableColumn="price" style="min-width: 12rem">
                    Valor
                    <p-sortIcon field="price" />
                </th>
                <th style="min-width: 12rem"></th>
            </tr>
        </ng-template>
        <ng-template #body let-entity let-index="rowIndex">
            <tr>
                <td style="min-width: 16rem">{{ entity.date }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.action }}</td>
                <!-- <td>{{ entity.price | currency: 'BRL' }}</td> -->
                <td><p-tag [value]="entity.price | currency: 'BRL'" [severity]="entity.action == 'Entrada' ? 'success' : 'danger'" styleClass="dark:!bg-surface-900" /></td>
                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editEntity(entity, index)" /> <!-- (click)="editProduct(product)" -->
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteEntity(index)" /> <!-- (click)="deleteProduct(product)" -->
                </td>
            </tr>
        </ng-template>
        <ng-template #footer> Valor mensal total: {{ total | currency: 'BRL' }} </ng-template>
    </p-table>

    <p-dialog [(visible)]="modal" [style]="{ width: '450px' }" header="Edição" [modal]="true">
        <ng-template #content>
            <div class="fluid">
                <form [formGroup]="form">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="action">Ação</label>
                            <p-select formControlName="action" [options]="actions" optionLabel="description" optionValue="description" placeholder="Selecione a ação" class="w-full mb-5" />
                        </div>
                        <div class="field col">
                            <label for="description">Data</label>
                            <p-inputnumber formControlName="date" mode="decimal" class="w-full mb-5" placeholder="Digite apenas o dia"></p-inputnumber>
                        </div>
                        <div class="field col">
                            <label for="description">Descrição</label>
                            <input type="text" pInputText formControlName="description" class="w-full mb-5" placeholder="Digite o que é"/>
                        </div>
                        <div class="field col">
                            <label for="price">Valor</label>
                            <p-inputnumber formControlName="price" mode="currency" currency="BRL" locale="pt-br" class="w-full" placeholder="Digite o valor"></p-inputnumber>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>

        <ng-template #footer>
            <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" /> <!-- (click)="hideDialog()" -->
            <p-button label="Save" icon="pi pi-check" (click)="saveEntity()"/> <!-- (click)="saveProduct()" -->
        </ng-template>
    </p-dialog>

    <p-confirmdialog [style]="{ width: '450px' }" />
</div>